.Filters {
  width: 150px;
  margin: 10px auto;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.Filters * {
  margin: auto 6px;
}

.FilterHeadline {
  margin: 10px auto;
  font-size: 20px;
}
